.empty-track-list {
  color: red;
  font-weight: bolder;
}

.btn, .album-title {
  background: var(--primary-color);
  color: white;
  font-weight: 500;
}

.card-title {
  color: var(--primary-color);
}

.card {
  border-radius: 20px;
}

.card-header {
  font-size: 20px;
}
