<div class="row">
  <div class="col-lg-4 col-lg-offset-4 p-5">
    <h1>Katalog albumów</h1>
    <h2 *ngIf="albums.length > 0 && albums[0].distributionName">
      Wydawca:
      <span class="distribution-name">{{ albums[0].distributionName }}</span>
    </h2>
  </div>
</div>

<div class="row filter-section pt-5 pl-5 pr-5">

  <h4>Filtry oraz wyszukiwarka albumów</h4>

  <p class="pt-2">
    Wyszukaj album po numerze id, artyście, tytule lub wybierz rok wydania albumu
  </p>

  <div class="col-lg-4 col-lg-offset-4 mx-auto search-bar">
    <div class="input-group">
      <input [(ngModel)]="searchPhrase" class="form-control py-2 border-right-0 border" type="search" value="Wyszukaj">
      <span class="input-group-append">
        <button class="btn btn-outline-secondary border-left-0 border" (click)="searchWithFilters()">
          <i class="bi bi-search"></i>
        </button>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 mx-auto p-4">

      <div class="row">
        <div class="col-sm-4"> Rok wydania: <br/>
          <select class="form-select" name="releaseYears" id="releaseYears" [(ngModel)]="releaseYear">
            <option selected value="-1">
              Wszystkie lata
            </option>
            <option
              value="{{ releaseYear }}"
              *ngFor="let releaseYear of releaseYears">
              {{ releaseYear }}
            </option>
          </select>
        </div>
        <div class="col-sm-4"> Sortuj według: <br/>
          <select class="form-select" name="sortBy" id="sortBy" [(ngModel)]="sortBy">
            <option value="ReleaseYear" selected>Rok Wydania</option>
            <option value="Author">Autor</option>
            <option value="Title">Tytuł</option>
          </select>
        </div>

        <div class="col-sm-4"> Jak: <br/>
          <select class="form-select" name="sortDirection" id="sortDirection" [(ngModel)]="sortDirection">
            <option value="0" selected>Rosnąco</option>
            <option value="1">Malejąco</option>
          </select>
        </div>

        <div class="col-sm-4"> Ile: <br/>
          <select class="form-select" name="allowedPaginationSize" id="allowedPaginationSize" [(ngModel)]="paginationSize">
            <ng-container *ngFor="let p of allowedPaginationSize">
              <option
                *ngIf="paginationSize == p; else elsePagin"
                value="{{ p }}" selected>
                {{ p }}
              </option>

              <ng-template #elsePagin>
                <option
                  value="{{ p }}" (click)="changePagination(p)">
                  {{ p }}
                </option>
              </ng-template>
            </ng-container>
          </select>
        </div>

      </div>

        <ul class="pagination justify-content-center pt-5">

          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1"
               (click)="changePage(this.currentPage - 1)"
               style="color: var(--primary-color)">Poprzednia</a>
          </li>

          <li class="page-item" *ngFor="let _ of [].constructor(totalPages); let i = index">
            <a class="page-link" href="#"
               *ngIf="currentPage - 1 == i; else elseItem"
               style="background: var(--primary-color); color: white;"
               (click)="changePage(i + 1)">{{ i + 1 }}</a>

            <ng-template #elseItem>
              <a class="page-link" href="#" (click)="changePage(i + 1)">{{ i + 1 }}</a>
            </ng-template>
          </li>

          <li class="page-item">
            <a class="page-link" href="#" (click)="changePage(this.currentPage + 1)"
               style="color: var(--primary-color)">Następna</a>
          </li>

        </ul>

      <p class="text-center"> Całkowita liczba albumów: {{ this.totalItems }} </p>

    </div>

  </div>

</div>

<app-album-card [albums]="albums"
                *ngIf="albums.length > 0; else elseAlbum">
</app-album-card>

<ng-template #elseAlbum>
  <div style="padding: 50px;">
    <h1> Brak dostępnych albumów! </h1>
  </div>
</ng-template>



