.btn {
  background: var(--secondary-color);
}

.filter-section {
  background: var(--primary-color);
  color: white;
  font-weight: 500;
}

.distribution-name {
  color: var(--primary-color);
  font-weight: bold;
}
