.table-head {
  background: var(--primary-color);
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

.header {
  margin-bottom: 20px;
}

.btn {
  background: var(--primary-color);
  color: white;
  font-weight: 500;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: var(--secondary-color);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0);
}
