<main class="form-signin">

  <div class="alert alert-success" role="alert" *ngIf="accountCreatedAlert">
    Konto zostało utworzone!
  </div>

  <form [formGroup]="form" (submit)="submit()">
      <h1 class="h3 mb-3 fw-normal">Zaloguj się </h1>

      <div class="form-floating">
        <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Adres e-mail</label>
      </div>
      <div class="form-floating">
        <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Hasło</label>
      </div>

      <button class="w-100 btn btn-lg btn btn-main" type="submit">Zaloguj się</button>
      <a routerLink="/register" class="register-text">Zarejestruj się</a>

  </form>
</main>
