/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

:root {
  --primary-color: #38849b;
  --secondary-color: #c6dbea;
}

.btn-main {
  background: var(--primary-color);
  color: white;
  font-weight: 500;
}
